.Header-Wrapper {
    width: 100%;
    height: 70px;

    background: rgba(0, 0, 0, 0.45);

    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);

    border-bottom: 1px solid rgba(255, 255, 255, 0.12);

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);

    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;

    position: sticky; 
    top: 0;
    z-index: 100;
}
