

@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




html, body {
  min-height: 100vh;
   background: radial-gradient(
    circle at top,
    #1e293b 0%,
    #020617 40%,
    #000000 80%
  );
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}











